/*=======================
          Home
========================*/

.home-container {
  margin-top: 100px;
}

.home-list-container {
  margin-top: 30px;
}

/*=======================
          About
========================*/

.about-container {
  margin-top: 100px;
}

/*=======================
          Home List
========================*/

.game {
  margin-bottom: 20px;
}

.game-image {
  width: 200px;
}

.game-price {
  font-weight: bold;
}
